.form-control {
  display: grid;
  grid-auto-flow: column;

  // LABEL
  & .label__box {
    width: 3rem;
    height: 3rem;
    border-radius: 50rem;
  }

  & .red {
    background-color: red;
  }
  & .yellow {
    background-color: yellow;
  }
  & .green {
    background-color: green;
  }
  & .blue {
    background-color: blue;
  }
  & .white {
    background-color: white;
  }
  & .pink {
    background-color: pink;
  }
  & .purple {
    background-color: purple;
  }
  & .black {
    background-color: black;
    border: 1px solid yellow;
    width: 2.8rem;
    height: 2.9rem;
  }
  & .orange {
    background-color: orange;
  }

  // INPUT
  & input[type='checkbox'] {
    width: 3rem;
    height: 3rem;
  }

  & label,
  & input,
  & textarea {
    display: block;
  }

  & label {
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
  }

  & input,
  & textarea,
  & select {
    width: 90%;
    border: 1px solid yellow;
    background: transparent;
    color: yellow;
    font-size: 3rem;
  }

  & input {
    padding: 1rem 1rem;
  }

  & textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: transparent;
    padding: 1rem 1rem;
  }

  & input[type='radio'] {
  }

  & select {
    appearance: none;
    padding: 3rem;
    border-radius: 3px;
    background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='yellow' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>") !important;
    background-position: 98% 50% !important;
    background-repeat: no-repeat !important;
    text-transform: uppercase;
  }

  & option {
  }

  // & input:focus,
  // & textarea:focus {
  //   outline: none;
  //   background: #ebebeb;
  //   border-color: #000080;
  // }

  // & input::placeholder,
  // & textarea::placeholder {
  //   color: #ccc;
  // }

  // & input[type='radio']:checked {
  // }

  // input:-webkit-autofill,
  // input:-webkit-autofill:hover,
  // input:-webkit-autofill:focus {
  //   -webkit-box-shadow: 0 0 0px 1000px white inset;
  //   -webkit-text-fill-color: inherit;
  // }
}
