.home {
  &__container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__nav {
  }

  &__nav-list {
  }

  &__nav-item {
    font-size: 10rem;
    text-transform: uppercase;
    text-align: center;
  }

  &__nav-item--settings {
    position: absolute;
    top: 5rem;
    right: 5rem;
    font-size: 0;
  }

  &__nav-item--settings svg {
    fill: yellow;
  }

  &__nav-item--red {
    color: red;
  }
  &__nav-item--purple {
    color: purple;
  }
  &__nav-item--blue {
    color: blue;
  }
  &__nav-item--pink {
    color: pink;
  }
  &__nav-item--green {
    color: green;
  }
  &__nav-item--yellow {
    color: yellow;
  }
}
