.color {
  &__container {
    width: 100vw;
    height: 100vh;
  }
}

.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
.white {
  background-color: white;
}
.pink {
  background-color: pink;
}
.purple {
  background-color: purple;
}
