.color {
  &__container {
    width: 100vw;
    height: 100vh;
  }
}

.isRed {
  background-color: red;
}
.isYellow {
  background-color: yellow;
}
.isGreen {
  background-color: green;
}
.isBlue {
  background-color: blue;
}
.isWhite {
  background-color: white;
}
.isPink {
  background-color: pink;
}
.isPurple {
  background-color: purple;
}
.isBlack {
  background-color: black;
}
